# General
.DS_Store
*.tgz
node_modules/

# Package Manager
npm-debug.log

# TypeScript Build Artifacts
.bld/
*.tsbuildinfo

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Metro
.metro-health-check*

# Debugging
npm-debug.*
yarn-debug.*
yarn-error.*
.env*.local
/tmp/

# Release
/android/app/release/
